[gcode_macro SET_FAN_SPEED]
description: Set the fan speed based on either a PERCENT or a INT from 0-255 (Shows REAL percent when set)
gcode:
	; Check if PERCENT or INT is set
	{% set PERCENT = params.PERCENT|default(0)|float %}
	{% set INT = params.INT|default(0)|int %}
	{% set REAL_PERCENT = 0 %}
	{% set REAL_INT = 0 %}
	
	{% if PERCENT != 0 %}
		{% if PERCENT > 100 %}
			LOG TYPE="WARNING" MSG="PERCENT must be between 0 and 100. Setting to 100."
			{% set PERCENT = 100 %}
		{% elif PERCENT < 0 %}
			LOG TYPE="WARNING" MSG="PERCENT must be between 0 and 100. Setting to 0."
			{% set PERCENT = 0 %}
		{% endif %}
		
	{% elif INT != 0 %}
		{% if INT > 255 %}
			LOG TYPE="WARNING" MSG="INT must be between 0 and 255. Setting to 255."
			{% set INT = 255 %}
		{% elif INT < 0 %}
			LOG TYPE="WARNING" MSG="INT must be between 0 and 255. Setting to 0."
			{% set INT = 0 %}
		{% endif %}
		
	{% else %}
		LOG MSG="No fan speed set. Defaulting to 0%"
	{% endif %}
	
	; Set the fan speed
	{% if PERCENT != 0 %}
		{% set REAL_INT = ((PERCENT / 100)*255)|int %}
		{% set REAL_PERCENT = REAL_INT / 255 * 100 %}
	{% elif INT != 0 %}
		{% set REAL_INT = INT %}
		{% set REAL_PERCENT = INT / 255 * 100 %}
	{% endif %}
	LOG MSG="Setting fan speed to {REAL_PERCENT|round(2)}% ({REAL_INT} of 255)"
	M106 S{REAL_INT}
