# This file contains pin mappings for the stock 2020 Creality Ender 3 V2. To use
# this config, during "make menuconfig" select the STM32F103 with a
# "28KiB bootloader" and serial (on USART1 PA10/PA9) communication. See
# docs/Config_Reference.md for a description of parameters.

### Ender-3 V2 Core Config ######################################################
[input_shaper]
shaper_freq_x: 69.144
shaper_freq_y: 67.797
shaper_type: ei

[safe_z_home]
home_xy_position: 115,143 # Change coordinates to the center of your print bed (ADJUST FOR PROBE X & Y)
z_hop: 30 # Move up 30mm
z_hop_speed: 30

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 20,20 # Test the limits of where your ABL can reach to 
mesh_max: 220,209 # MAX - ABL_OFFSET for X & Y
#probe_count: 13,21
#probe_count: 41,81
probe_count: 50,50
algorithm: bicubic
fade_start: 1
fade_end: 4
fade_target: 0

[screws_tilt_adjust]
screw1: 30.5,58
screw1_name: ↙️ Front-Left Screw
screw2: 199.5,58
screw2_name: ↘️ Front-Right Screw
screw3: 199.5,228
screw3_name: ↗️ Back-Right Screw
screw4: 30.5,228
screw4_name: ↖️ Back-Left Screw
horizontal_move_z: 10
speed: 120
screw_thread: CW-M4

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 292
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 236
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 229
position_min: -3

[extruder]
min_extrude_temp: 180
pressure_advance: 0.3056
max_extrude_only_distance: 300.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 23.5
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 6000
# max_accel_to_decel: 650 # DEPRECATED
max_z_velocity: 40
max_z_accel: 2000
square_corner_velocity: 5.0

# shuts off the heaters after being idle
[idle_timeout]
timeout: 1800
gcode:
	TURN_OFF_ALL

### Enable Hardware Addons #####################################################
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: 0
y_offset: -27
#z_offset: 2.86

# [output_pin BEEPER_Pin]
# pin: PC6
# pwm: True
# value: 0
# shutdown_value: 0
# cycle_time: 0.001
# scale: 1

[filament_motion_sensor FILAMENT_SENSOR_01]
detection_length: 10.00 # This can be adjusted to your desired level of sensitivity. 10 is a recommended value to prevent flow dropoff false triggers.
extruder: extruder
switch_pin: ^PG11
pause_on_runout: False # This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
    LOG MSG="Filament Runout Detected!"

# [delayed_gcode DISABLEFILAMENTSENSOR] # This will disable the SFS 1 second after klipper starts
# initial_duration: 1
# gcode:
#     SET_FILAMENT_SENSOR SENSOR=FILAMENT_SENSOR_01 ENABLE=0

[gcode_macro SFS_ENABLE] # Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    LOG MSG="Enabling the Smart Filament Sensor"
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=FILAMENT_SENSOR_01 ENABLE=1

[gcode_macro SFS_DISABLE] # Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor
gcode:
    LOG MSG= "Disabling the Smart Filament Sensor"
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=FILAMENT_SENSOR_01 ENABLE=0


