[gcode_macro _BEFORE_LAYER_CHANGE]
description: Tries to break (aka wipe) any extra filament attached to the nozzle after a print
gcode:
	; Start Macro
	_MACRO_START LOG=0 NAME="_BEFORE_LAYER_CHANGE"
	
	; Config defaults
	{% set DSCV_ENABLED = 0 %}
	{% set DSCV_MIN     = 1 %}
	{% set DSCV_MAX     = 5 %}
	{% set DSCV_STEP    = 1 %}
	
	; Import vars
	{% if 'save_variables' in printer %}
		{% set vars = printer.save_variables.variables %}
		{% if 'dscv_enabled' in vars %}
			{% set DSCV_ENABLED = vars.dscv_enabled %}
		{% endif %}
		{% if 'dscv_min' in vars %}
			{% set DSCV_MIN = vars.dscv_min %}
		{% endif %}
		{% if 'dscv_max' in vars %}
			{% set DSCV_MAX = vars.dscv_max %}
		{% endif %}
		{% if 'dscv_step' in vars %}
			{% set DSCV_STEP = vars.dscv_step %}
		{% endif %}
	{% endif %}
	
	; Params
	{% set DSCV_ENABLED = params.DSCV_ENABLED|default(DSCV_ENABLED)|int > 0 %}
	{% set LAYER        = params.LAYER|default(-1)|int %}
	{% set LAST_LAYER   = params.LAST_LAYER|default(-1)|int %}
	{% set HEIGHT       = params.HEIGHT|default(-1)|float %}
	
	; Run macro
	{% if DSCV_ENABLED == 1 and LAYER > -1 %}
		{% set DSCV = [DSCV_MAX, [DSCV_MIN, DSCV_MIN + (DSCV_STEP * LAYER)]|max]|min %}
		{% if DSCV != printer.toolhead.square_corner_velocity %}
			SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={DSCV}
			LOG TYPE="STATUS" MSG="DSCV set to {DSCV}"
		{% endif %}
	{% endif %}
	
	; End Macro
	_MACRO_END LOG=0 NAME="_BEFORE_LAYER_CHANGE"
