[gcode_macro G27]
description: Move the tool head to a corner so it is out of the way. (Back left)
gcode:
	; Start Macro
	_MACRO_START LOG=0 NAME="G27"
	
	; Config defaults
	{% set X_PARK     = 20 %}
	{% set Y_PARK     = printer.toolhead.axis_maximum.y - 20 %}
	{% set Z_PARK     = printer.toolhead.axis_maximum.z / 2 %}
	{% set Z_BUFFER   = 5 %}
	{% set XY_FSPEED  = 2400 %}
	{% set Z_FSPEED   = 600 %}
	{% set SAFE_Z_MAX = printer.toolhead.axis_maximum.z %}
	
	; Import vars
	{% if 'save_variables' in printer %}
		{% set vars = printer.save_variables.variables %}
		{% if 'x_park' in vars %}
			{% set X_PARK = vars.x_park %}
		{% endif %}
		{% if 'y_park' in vars %}
			{% set Y_PARK = vars.y_park %}
		{% endif %}
		{% if 'z_park' in vars %}
			{% set Z_PARK = vars.z_park %}
		{% endif %}
		{% if 'z_buffer' in vars %}
			{% set Z_BUFFER = vars.z_buffer %}
		{% endif %}
		{% if 'xy_fspeed' in vars %}
			{% set XY_FSPEED = vars.xy_fspeed %}
		{% endif %}
		{% if 'z_fspeed' in vars %}
			{% set Z_FSPEED = vars.z_fspeed %}
		{% endif %}
		{% if 'safe_z_max' in vars %}
			{% set SAFE_Z_MAX = vars.safe_z_max %}
		{% endif %}
	{% endif %}
	
	; Params (from Marlin docs)
	{% set P = params.P|default(0)|int %}
	
	; Params (custom)
	{% set TYPE      = params.TYPE|default(P)|int %}
	{% set X_PARK    = params.X_PARK|default(X_PARK)|float %}
	{% set Y_PARK    = params.Y_PARK|default(Y_PARK)|float %}
	{% set Z_PARK    = params.Z_PARK|default(Z_PARK)|float %}
	{% set Z_BUFFER  = params.Z_BUFFER|default(Z_BUFFER)|float %}
	{% set XY_FSPEED = params.XY_FSPEED|default(XY_FSPEED)|int %}
	{% set Z_FSPEED  = params.Z_FSPEED|default(Z_FSPEED)|int %}
	
	; Run macro
	HOME CHECK=true
	
	{% if TYPE == 1 %}
		; Type/P=1 - No matter the current Z-pos, the nozzle will be raised/lowered to reach Z-park height
		{% if printer.toolhead.position.z < Z_PARK %}
			; We are below Z park, so it is safe just to move Z first
			G90 ; Absolute positioning
			G1 Z{Z_PARK} F{Z_FSPEED}
			G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
		{% else %}
			; We are above Z park, so it is NOT safe to move Z first, instead we move XY first.
			G90 ; Absolute positioning
			G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
			G1 Z{Z_PARK} F{Z_FSPEED}
		{% endif %}
	{% elif TYPE == 2 %}
		; Type/P=2 - The nozzle height will be raised by Z-park amount but never going over SAFE_Z_MAX
		{% set Z_PARK = [printer.toolhead.position.z + Z_PARK, SAFE_Z_MAX]|min %}
		G90 ; Absolute positioning
		G1 Z{Z_PARK} F{Z_FSPEED}
		G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
	{% else %}
		; Type/P=0 - If current Z-pos is lower than Z-park then the nozzle will be raised to reach Z-park height
		{% if printer.toolhead.position.z <= (Z_PARK - Z_BUFFER) %}
			; Type/P=0 Acts relatively normally
			G90 ; Absolute positioning
			G1 Z{Z_PARK} F{Z_FSPEED}
			G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
		{% elif printer.toolhead.position.z + Z_BUFFER <= SAFE_Z_MAX %}
			; Type/P=0 Would normally skip raising the Z, but we can still afford to raise it a little, so we do.
			G91 ; Relative positioning
			G1 Z{Z_BUFFER} F{Z_FSPEED}
			G90 ; Absolute positioning
			G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
		{% else %}
			; Type/P=0 Acts relatively normally (but we are already at/near SAFE_Z_MAX)
			G90 ; Absolute positioning
			G1 Z{SAFE_Z_MAX} F{Z_FSPEED}
			G1 X{X_PARK} Y{Y_PARK} F{XY_FSPEED}
		{% endif %}
	{% endif %}
	
	; End Macro
	_MACRO_END LOG=0 NAME="G27"
