[gcode_macro GET_SKS_SETTINGS]
variable_return: 0
gcode:
	{% set SELF = 'GET_SKS_SETTINGS' %}
	_MACRO_START SAVE=0 LOG=0 NAME="{SELF}"
	
	{% set NONE = none %}
	SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=return VALUE="{NONE}"
	
	{% set REQUIRED = params.REQUIRED|default('')|string %}
	{% set OPTIONAL = params.OPTIONAL|default('')|string %}
	
	; parse inputs
	{% set REQUIRED = REQUIRED.split(',') %}
	{% set OPTIONAL = OPTIONAL.split(',') %}
	
	; trigger error if both REQUIRED and OPTIONAL are empty
	{% if REQUIRED|length == 0 and OPTIONAL|length == 0 %}
		LOG TYPE=ERROR MSG="[{SELF}] No settings specified in REQUIRED or OPTIONAL"
	{% endif %}
	
	{% if 'save_variables' in printer %}
		{% set VARS = printer.save_variables.variables %}
		{% set SETTINGS = {} %}
		{% for KEY in REQUIRED %}
			; Avoids "ValueError: too many values to unpack"
			{% set VALUE = VARS[KEY] %}
			{% if KEY in VARS %}
				{% set TEMP = SETTINGS.update({KEY: VALUE}) %}
			{% else %}
				LOG TYPE=ERROR MSG="[{SELF}] Required setting {KEY} not found in save_variables"
			{% endif %}
		{% endfor %}
		{% for KEY in OPTIONAL %}
			; Avoids "ValueError: too many values to unpack"
			{% set VALUE = VARS[KEY] %}
			{% if KEY in VARS %}
				{% set TEMP = SETTINGS.update({KEY: VALUE}) %}
			{% endif %}
		{% endfor %}
	{% endif %}
	
	; Set return to SETTINGS
	SET_GCODE_VARIABLE MACRO={SELF} VARIABLE=return VALUE="{SETTINGS}"
	
	_MACRO_END LOAD=0 LOG=0 NAME="{SELF}"
