[gcode_macro HOP]
description:
	Move the tool head to a COORDINATE while also temporarily raising Z by
	Z_BUFFER until mov finishes and then returning to the original Z position.
gcode:
	{% set SELF = 'HOP' %}
	_MACRO_START LOG=0 SAVE=0 NAME="{SELF}"
	
	; Check for params
	{% if 'X' not in params %}
		LOG TYPE=FATAL MACRO="{SELF}" MSG="Missing required parameter: X"
	{% endif %}
	{% if 'Y' not in params %}
		LOG TYPE=FATAL MACRO="{SELF}" MSG="Missing required parameter: Y"
	{% endif %}
	
	; Set default values for non-required params
	{% set Z_BUFFER   = 5 %}
	{% set XY_FSPEED  = 2400 %}
	{% set Z_FSPEED   = 600 %}
	{% set SAFE_Z_MAX = printer.toolhead.axis_maximum.z %}
	
	; Import vars
	{% if 'save_variables' in printer %}
		{% set vars = printer.save_variables.variables %}
		{% if 'x_park' in vars %}
			{% set X_PARK = vars.x_park %}
		{% endif %}
		{% if 'y_park' in vars %}
			{% set Y_PARK = vars.y_park %}
		{% endif %}
		{% if 'z_buffer' in vars %}
			{% set Z_BUFFER = vars.z_buffer %}
		{% endif %}
		{% if 'xy_fspeed' in vars %}
			{% set XY_FSPEED = vars.xy_fspeed %}
		{% endif %}
		{% if 'z_fspeed' in vars %}
			{% set Z_FSPEED = vars.z_fspeed %}
		{% endif %}
	{% endif %}
	
	; Config defaults
	{% set Z_BUFFER = params.Z_BUFFER|default(Z_BUFFER)|float %}
	{% set XY_FSPEED = params.XY_FSPEED|default(XY_FSPEED)|int %}
	{% set Z_FSPEED  = params.Z_FSPEED|default(Z_FSPEED)|int %}
	{% set X = params.X|float %}
	{% set Y = params.Y|float %}
	
	MOVE Z="{Z_BUFFER}" F="{Z_FSPEED}"
	MOVE X="{X}" Y="{Y}" F="{XY_FSPEED}"
	
	
	
	_MACRO_END NAME="{SELF}"
