[gcode_macro PRINT_PATH]
description:
	Travels to origin and then extrudes filament to destination. If a coordinate is empty (such as "10,,20" where the Y
	coordinate is empty), the current coordinate is used. Variables defined in init_vars will be used to calculate the
	nozzle diameter, F speed, and extrusion factors.
gcode:
	{% set SELF = 'PRINT_PATH' %}
	_MACRO_START NAME="{SELF}"
	
	{% set SAFE_X_MIN = 0 %}
	{% set SAFE_X_MAX = printer.toolhead.axis_maximum.x %}
	{% set SAFE_Y_MIN = 0 %}
	{% set SAFE_Y_MAX = printer.toolhead.axis_maximum.y %}
	{% set SAFE_Z_MIN = 0 %}
	{% set SAFE_Z_MAX = printer.toolhead.axis_maximum.z %}
	
	; Import vars
	{% if 'save_variables' in printer %}
		{% set vars = printer.save_variables.variables %}
		{% set var_list = [
			'xy_speed',
			'z_speed',
			'e_speed',
			'safe_x_min',
			'safe_x_max',
			'safe_y_min',
			'safe_y_max',
			'safe_z_min',
			'safe_z_max'
		] %}
		
		{% for var in var_list %}
			{% if var in vars %}
				
			{% endif %}
		{% endfor %}
		
		
		
		{% if 'xy_speed' in vars %}
			{% set XY_SPEED = vars.xy_speed %}
		{% endif %}
		{% if 'z_speed' in vars %}
			{% set Z_SPEED = vars.z_speed %}
		{% endif %}
		{% if 'e_speed' in vars %}
			{% set E_SPEED = vars.e_speed %}
		{% endif %}
		{% if 'safe_x_min' in vars %}
			{% set SAFE_X_MIN = vars.safe_x_min %}
		{% endif %}
		{% if 'safe_x_max' in vars %}
			{% set SAFE_X_MAX = vars.safe_x_max %}
		{% endif %}
		{% if 'safe_y_min' in vars %}
			{% set SAFE_Y_MIN = vars.safe_y_min %}
		{% endif %}
		{% if 'safe_y_max' in vars %}
			{% set SAFE_Y_MAX = vars.safe_y_max %}
		{% endif %}
		{% if 'safe_z_min' in vars %}
			{% set SAFE_Z_MIN = vars.safe_z_min %}
		{% endif %}
		{% if 'safe_z_max' in vars %}
			{% set SAFE_Z_MAX = vars.safe_z_max %}
		{% endif %}
		
	{% endif %}
	
	
	_MACRO_END NAME="{SELF}"
